body{
    background:#232323;
    margin:0;
}

#colorDisplay{
    font-size:200%;
}
    
.squares{
    background:purple;
    padding-bottom: 30%;
    width:30%;
    float:left;
    margin: 1.66%;
    border-radius: 15%;
    transition: all 0.7s;
}

#container{
    max-width:600px;
    margin:20px auto;
}

h1{
    color:white;
    text-align: center;
    background: steelblue;
    height:200%;
    margin:0;
    text-transform: uppercase;
    line-height: 1.1;
    padding:20px 0;
}

#stripe{
    height:30px;
    text-align: center;
    background: white;
}

.selected{
    background:steelblue;
    color:white;
}

button{
    border:none;
    background:none;
    text-transform: uppercase;
    font-weight:700;
    color:steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    height:100%;
    transition: all 0.3s;
    outline:none;
}

button:hover{
    background:steelblue;
    color:white;
}

#message{
    display:inline-block;
    width:20%;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;

}

.redColor{
    color:red;
}

.greenColor{
    color:lime;
}